
/* Custom css styles copy-pasted from alerent.fi  */ 


.bg-black {background: #2d2d2d;}

.bg-gray {background: #eee;}

.bg-blue {background: #1D6DA1; } /* #014D81; */



.max {max-width: 900px; } /*969px;*/

.with-top-margin {margin-top: 30px; }

.with-small-margins {padding-top: 10px; padding-bottom: 10px;}


#link-wrapper > a:focus, #link-wrapper > a:hover {

  background-color: #eee;
  text-decoration: none;

}


.link-box {padding: 5px 0px 5px 0px;}


.link-box:hover, .link-box:focus {
  background: #ddd;
  color: #23527c;
}

.link-box > a:hover {
  text-decoration: none;
}


#link-wrapper > .link-box > a:focus, #link-wrapper > .link-box > a:hover {
  background-color: #eee;
}


#logo-wrapper {margin: 20px 0px 20px 0px; }




.gray {background: #ddd;}
.white {background: #fff;}

.yellow-text {color: #fe9f05;} 
.orange-text {color: #fd7a00;}
.white-text {color: #fff;}
.red-text {color: #e54710;}
.blue-text {color: #1D6DA1;}



.max-300 {max-width: 300px;}

.center {text-align: center;}


.img-wrapper {margin: auto; max-width: 350px;}


.box {min-height: 250px; padding-left: 40px; padding-right: 40px;}


.box { margin-top: 10px; margin-bottom: 10px;}



#bottom-info {padding-bottom: 10px;}

#logos {padding-bottom: 25px;}



.serv-box { 

  height: 200px;

  background: transparent url("pallo.png") no-repeat ;
  background-position: center;
  padding-top: 45px;

  color: #1D6DA1; /* blue */
  font-weight: bold;

}




/* mobiili */ 






/* isommat kuin mobiili */

@media screen and (min-width: 767px) {
  

  .with-margins {margin-top: 45px; margin-bottom: 30px;}


  .link-box {padding: 10px 0px 10px 0px;}


  .bg-with-img {
                background: #1D6DA1 url("auto-ja-mies-500.png") no-repeat 85% 50%;
              }

  .big {font-size: 45px;}


  .serv-box {  background-size: 85%; }

}


/* mobiilikoossa */

@media screen and (max-width: 575px) {

  .add-margin-in-mobile {margin-top: 30px;}


  .bg-with-img {
                background: #1D6DA1 url("auto-ja-mies-300.png") no-repeat 90% 95%;
              
                padding-bottom: 190px;
              }

  .big {          font-size: 35px;  }

  .serv-box {  background-size: 185px; }


}


/* tablettikoossa */

@media screen and (min-width: 576px) and (max-width: 766px) {


  .bg-with-img {
                background: #1D6DA1 url("auto-ja-mies-300.png") no-repeat 90% 75%;
              
                padding-bottom: 30px;
              }

  .big {          font-size: 35px;  }

  .serv-box {  background-size: 100%; }


}







/* Logojen asemointi kivasti */

.logo-wrapper {margin: auto; max-width: 230px;}
.logo-img {max-width: 160px;}

@media screen and (min-width: 992px) {
  
  .logo-wrapper {max-width: 236px;}

}

@media screen and (min-width: 767px) and (max-width: 991px) {
  
  .logo-img {max-width: 160px;}

}





/* TYPOGRAPHY */ 

/*
h1 {font-family: "Roboto", Arial, sans-serif; font-weight: 900;}
h2, h3, h4, .big {font-family: "Roboto", Arial, sans-serif; font-weight: 900;}

p {font-family: "Roboto", Arial, sans-serif; font-weight: 400;}
*/

h1 {font-family: "Helvetica Neue", Arial, sans-serif; font-weight: 900;}
h2, h3, h4, .big {font-family: "Helvetica Neue", Arial, sans-serif; font-weight: 900;}

p {font-family: Verdana, Arial, sans-serif; font-weight: 400;}




/* Bootstrap overrides */

a {color: #44a3c6;}

